<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>Actions</key>
		<dict>
			<key>Blocked</key>
			<true/>
			<key>Log</key>
			<false/>
			<key>Quarantine</key>
			<false/>
			<key>Remove</key>
			<false/>
		</dict>
		<key>ApplicationBundleID</key>
		<string>com.apple.iChat</string>
		<key>ApplicationName</key>
		<string>iChat</string>
	</dict>
	<key>1</key>
	<dict>
		<key>Actions</key>
		<dict>
			<key>Blocked</key>
			<true/>
			<key>Log</key>
			<false/>
			<key>Quarantine</key>
			<false/>
			<key>Remove</key>
			<false/>
		</dict>
		<key>ApplicationBundleID</key>
		<string>com.apple.systempreferences</string>
		<key>ApplicationName</key>
		<string>System Preferences</string>
	</dict>
	<key>2</key>
	<dict>
		<key>Actions</key>
		<dict>
			<key>Blocked</key>
			<false/>
			<key>Log</key>
			<true/>
			<key>Quarantine</key>
			<false/>
			<key>Remove</key>
			<false/>
		</dict>
		<key>ApplicationBundleID</key>
		<string>com.apple.mail</string>
		<key>ApplicationName</key>
		<string>Mail</string>
	</dict>
	<key>3</key>
	<dict>
		<key>Actions</key>
		<dict>
			<key>Blocked</key>
			<false/>
			<key>Log</key>
			<false/>
			<key>Quarantine</key>
			<false/>
			<key>Remove</key>
			<true/>
		</dict>
		<key>ApplicationBundleID</key>
		<string>com.oleganza.gitbox</string>
		<key>ApplicationName</key>
		<string>Gitbox</string>
	</dict>
</dict>
</plist>
